<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      <div class="jumbotron text-center">
        <h3><span class="display-3">Welcome to your account, <%= @investor.username %>!</span></h3>
          <h3 class="text-center"> Account Balance: 
            <% if  @investor.orders.last != nil %>
              $<%= @investor.new_balance %> 
            <% else %>
              $<%= @investor.account_balance %>
            <% end%>
          </h3><br>

          <div class="text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success"><a href='/orders'>Orders</a></button>
              <button type="button" class="btn btn-info"><a href='/stocks'>Stocks</a></button>
              <button type="button" class="btn btn-dark"><a href='/logout'>Logout</a></button>
            </div>
          </div>
      </div>
    </body>
</html>