<h3>Start Trading!</h3>

<form action='/login' method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="user_pass">Password:</label>
    <input type="password" name="user_pass" id="user_pass">
    
    <button type="submit">Login</button>
</form>