<h3>Create your account:</h3>
<form action='/signup' method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="user_pass">Password:</label>
    <input type="password" name="password" id="user_pass">
    
    <button type="submit">Signup</button>
</form>