<!DOCTYPE html>
<html>
    <head>
        <title>Stock Up - Create Account</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <h4 class="display-4 text-center">Create your account</h4>
            <hr class="my-4">
                <div class="text-center">
                    <form action="/signup" method="POST">
                        <div>
                            <input type="text" name="username" id="username" placeholder="Username" required autofocus>
                        </div>
                        <div>
                            <input type="password" name="password" id="user_pass" placeholder="Password" required>
                        </div>   
                            <button class="btn btn-dark form-input" type="submit">Signup</button>
                    </form>
                </div>
        </div>

        

        <footer>
            For informational and learning purposes only. 
            All the information being provided is artbitrary.
            Stock prices are real time data. 
        </footer>
    </body>
</html>
