<section>
    <h3>My Orders:</h3>
    <% @orders.each do |order| %>
        <a href="/orders/<%= order.id %>"> <%= order.order_name %> </a><br>
        <a href='/orders/<%= order.id %>/edit'>Edit</a>
    <% end %>

</section>
    <a href='/orders/new'>Create Order</a>

