<section>
    <h3>My Orders:</h3>
    <% @orders.each do |order| %>
        <a href="/orders/<%= order.id %>"> <%= order.order_name %> <%= order.order_total %></a><br>
    <% end %>
</section>
    <p><a href='/orders/new'>Create Order</a></p>

