<section>

    <table style="width:50%">
        <tr>
            <th>Name: </th>
            <th>Symbol:</th>
            <th>Price: </th>

    <% @order.stocks.each do |stock| %>
            <tr>
                <td> <%= stock.name %> </td>
                <td> <%= stock.symbol %> </td>
                <td> <%= stock.price %></td>
            </tr>
    <% end %>
        </tr>
    </table>
</section>

<a href='/account'>Account</a>

<a href='/orders'>Orders</a>

<a href='/orders/<%= @order.id %>/edit' >Edit Order</a>
