<section>
    <h4> Order Name: <%= @order.order_name %> </h4>
    <h4> Shares: <%= @order.stocks.count %> </h4>
    <h4> Shares Amount: $<%= @order.order_total %> </h4>
</section>

<a href='/account'>Account</a>

<a href='/orders'>Orders</a>

<a href='/orders/<%= @order.id %>/edit' >Edit Order</a>
