<!DOCTYPE html>
<html>
    <head>
        <title>Stock Up - Learn</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <h4 class="display-4">Here are 4 simple steps to help on your journey</h4>
            <p class="display-4">Step 1: Select an online stock broker</p>
            <hr class="my-4">
            <p>While this application will help you understand the basic fundamentals of buying a stock, it's customary to go through a stockbroker to buy stocks in the real world.</p>
            <p>The easiest way to buy stocks is through an online stockbroker. After opening and funding your account, you can buy stocks through the broker’s website in a matter of minutes. Other options include using a full-service stockbroker, or buying stock directly from the company.</p>
          
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="learn">1</a></li>
                <li class="page-item"><a class="page-link" href="learn1">2</a></li>
                <li class="page-item"><a class="page-link" href="learn2">3</a></li>
                <li class="page-item"><a class="page-link" href="learn3">4</a></li>
            </ul>
          </nav>
        </div>

        

        <footer>
            For informational and learning purposes only. 
            All the information being provided is artbitrary.
            Stock prices are real time data. 
        </footer>
    </body>
</html>