<!DOCTYPE html>
<html>
    <head>
        <title>Stock Up - Learn</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
          <div class="jumbotron">
            <p class="display-4">Step 2: Research the stocks you want to buy</p>
            <hr class="my-4">
            <p>RESEARCH, RESEARCH, RESEARCH!</p>

            <p>Warren Buffett famously said, “Buy into a company because you want to own it, not because you want the stock to go up.”</p>

            <p>Don’t let the abundance of data and real-time market jargon (fancy words used for specific professions or groups, i.e, stocks) overwhelm you as you conduct your research. 

            <p>Keep the objective simple: You’re looking for companies of which you want to become a part owner.</p>

            <p>Start with the company’s annual report. They usually consist of:</p>

            <ul>
                <li>Operating and financial highlights</li>
                <li>Financial statements --> income statement, balance sheet, cash flow statement</li>
                <li>Letter to shareholders from the CEO</li>
            </ul>


          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="learn">1</a></li>
                <li class="page-item"><a class="page-link" href="learn1">2</a></li>
                <li class="page-item"><a class="page-link" href="learn2">3</a></li>
                <li class="page-item"><a class="page-link" href="learn3">4</a></li>
            </ul>
          </nav>

        </div>

        <footer>
            For informational and learning purposes only. 
            All the information being provided is artbitrary.
            Stock prices are real time data. 
        </footer>
    </body>
</html>