<h3>Step 3: Decided how many shares you want to buy</h3>

<p>You should feel absolutely no pressure to buy a certain number of shares or to fill your entire portfolio with a stock all at once. 

<p>Consider starting small — REALLY small — by purchasing just a single share, you get a feel for what it’s like to own an individual stock and whether you have the desire to ride through the good times and bad times with minimal sleep loss.</p> 

<p>You can add to your position over time as you master the shareholder swagger.</p>

<a href='/learn3'>Next page</a>