For informational and learning purposes only. 
All the information being provided is artbitrary.
Stock prices are real time data. 

<h2>Here are 5 easy steps to get you started on your stock buying journey</h2>

<h3>Step 1: Select an online stock broker</h3>

<p>While this application will help you understand the basic fundamentals of buying a stock, it's customary to go through a stockbroker to buy stocks in the real world.</p>

<p>The easiest way to buy stocks is through an online stockbroker. After opening and funding your account, you can buy stocks through the broker’s website in a matter of minutes. Other options include using a full-service stockbroker, or buying stock directly from the company.</p>

<a href='/learn1'>Next page</a>



<a href='/signup'><h3>Signup</h3></a> or <a href='/login'><h3>Login</h3></a>