<!DOCTYPE html>
<html>
    <head>
        <title>Stock Up - Learn</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
          <div class="jumbotron">
            <p class="display-4">Step 3: Decided how many shares you want to buy</p>
            <hr class="my-4">
            <p>You should feel absolutely no pressure to buy a certain number of shares or to fill your entire portfolio with stocks all at once. 

            <p>Consider starting small — REALLY small — by purchasing just a single share, you get a feel for what it’s like to own an individual stock and whether you have the desire to ride through the good times and bad times with minimal sleep loss.</p> 

            <p>You can add to your position over time as you master the shareholder swagger.</p>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="learn">1</a></li>
                <li class="page-item"><a class="page-link" href="learn1">2</a></li>
                <li class="page-item"><a class="page-link" href="learn2">3</a></li>
                <li class="page-item"><a class="page-link" href="learn3">4</a></li>
            </ul>
          </nav>

        </div>

        <footer>
            For informational and learning purposes only. 
            All the information being provided is artbitrary.
            Stock prices are real time data. 
        </footer>
    </body>
</html>