<h3>Step 2: Research the stocks you want to buy</h3>

<p>RESEARCH, RESEARCH, RESEARCH!</p>

<p>Warren Buffett famously said, “Buy into a company because you want to own it, not because you want the stock to go up.”</p>

<p>Don’t let the abundance of data and real-time market jargon (fancy words used for specific professions or groups, i.e, stocks) overwhelm you as you conduct your research. 

<p>Keep the objective simple: You’re looking for companies of which you want to become a part owner.</p>

<p>Start with the company’s annual report. They usually consist of:</p>


<ul>
    <li>Operating and financial highlights</li>
    <li>Financial statements --> income statement, balance sheet, cash flow statement</li>
    <li>Letter to shareholders from the CEO</li>
</ul>

<a href='/learn2'>Next page</a>