<h3>Step 4: Choose your stock order type</h3>

<p>There are a lot more fancy trading moves and complex order types. For now, don't worry about them — or maybe ever.</p>

<p>Investors have built successful careers buying stocks solely with two order types: market orders and limit orders.</p>

<h4>Market orders</h4>

<ul>
    <li>With a market order, you’re indicating that you’ll buy or sell the stock at the best available current market price. This order is executed immediately.</li>

    <li>Don’t be surprised if the price you pay — or receive, if you’re selling — is not the exact price you were quoted just seconds before. Bid and ask prices fluctuate constantly throughout the day!</li>

</ul>

<h4>Limit orders</h4>

<ul>
    <li>A limit order gives you more control over the price at which your trade is executed. For arbitrary purposes, if the Nike stock is trading at $100 a share and you think a $90 per-share price is more in line with how you value the company, your limit order tells your broker to hold tight and execute your order only when the ask price drops to that level.</li>

    <li>Limit orders are a good tool for investors buying and selling smaller company stocks, which tend to experience wider spreads, depending on investor activity.</li>

    <li>While this is important information to know moving forward, we won't be dealing with limit orders today!</li>
</ul>

<a href='/signup'>Ready</a> or <a href='/login'>Learn more</a>