<section>
    <% @stocks.each do |stock| %>
        <a href="/stocks/<%= stock.id %>"> <%= stock.name %> - <%= stock.symbol %> </a><br>
    <% end %>
</section>
<br>
<a href='/orders/new'>Create Order</a>