<section>
    <p>Stock: <%= @stock.name %></p>
    <p>Stock: <%= @stock.symbol %></p>
    <p>Stock price: <%= @stock.price %></p>

    <a href='/orders/new'>Create Order</a>
    <br>
    <a href='/stocks'>Back to Orders</a>
</section>