<!DOCTYPE html>
<html>
    <head>
        <title>Stock Up</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <h2 class="display-4">Stock Up</h2>
            <p class="lead">Stock Up is an informational application useful for learning how to buy, manage, and sell stocks!</p>
            <hr class="my-4">
            <a class="btn btn-info" href="/learn" role="button">Learn more</a>
            <a class="btn" href='/signup'><h3>Signup</h3></a> or <a class="btn" href='/login'><h3>Login</h3></a>
        </div>
    </body>
</html>