<h2>Stock Up</h2><br>

<p>Stock Up is an informational application useful for learning how to buy, manage, and sell stocks!</p>

<a href='/learn'>Learn more</a><br>
<a href='/signup'><h3>Signup</h3></a> or <a href='/login'><h3>Login</h3></a>